html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {top:0 ;
  margin: 0;
  width: 100%;
  height: 100%;
  background:  linear-gradient(black, rgb(38, 9, 49) 70%, black 95%);
  /* background:  linear-gradient(rgb(38, 9, 49), black, rgb(38, 9, 49)); */
}

#particles-js{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Cutive Mono'; 
  src: url('../assets/CutiveMono-Regular.ttf') format('truetype');
}   
@font-face {
  font-family: 'AnonymusPro'; 
  src: url('../assets/AnonymousPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Aleo'; 
  src: url('../assets/Aleo-Light.ttf') format('truetype');
}

#author {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(165, 42, 42, 0.205); */
  /* background-color: rgba(30, 213, 219, 0.205); */
}
#authorContent {
  width: fit-content;
}

#namewrapper {
  width: 100%;
}

.name {
  background-color: rgba(0, 0, 0, 0);
  color: azure;
  font-family: 'AnonymusPro';
  font-size: 30pt;
  margin: 0;
}

#line {
  width: 100%;
  height: 0.25vh;
  background-color: azure;
  margin: 2.2vh 0;
}

#profession {
  background-color: rgba(0, 0, 0, 0);
  color: azure;
  font-family: 'Cutive Mono';
  line-height: 1.4rem;
  font-size: 12.5pt;
}

#author nav {
  display: flex;
  flex-direction: column;
}
#author nav .navelem {
  margin-bottom: 2vh;
  font-size: 13pt;
}

.navelem:hover {
  text-transform: uppercase;
}
.navelem {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Cutive Mono';
  background-color: rgba(0, 0, 0, 0);
  color: azure;
  text-align: left;
  border: none;
  outline: none;
}

#cardsContainer {
  display: flex;
  height: 100%;
  width: 100%;
}
.card {
  max-width: 78vw;
  min-width: 78vw;
  height: 100vh;
}
.card_anchor {
  margin-right: 75vw;
}

::-webkit-scrollbar {
  width: 10px;
  border-left: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(53, 51, 56); 
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(108, 104, 110); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 64, 124); 
}
